.profile__button-edit {
  transition: opacity 0.4s;
  width: 24px;
  height: 24px;
  background: url(../../../images/profile/btn_edit.svg) center/cover no-repeat;
  border: none;
  padding: 0;
  margin-top: 15px;
  grid-area: button-edit;
}
.profile__button-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .profile__button-edit {
    margin-top: 8px;
    margin-right: 19px;
    width: 18px;
    height: 18px;
  }
}
