.popup__close-icon {
  position: absolute;
  background: url(../../../images/popup/Close-Icon.svg) center/cover no-repeat;
  padding: 0;
  border: none;
  top: -8px;
  right: -8px;
  transform: translate(100%, -100%);
  width: 32px;
  height: 32px;
  transition: opacity 0.3s;
}
.popup__close-icon:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 750px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    top: -16px;
    right: 0;
    transform: translate(0, -100%);
  }
}
