.header__button-outlet {
  color: #a9a9a9;
  font-size: 18px;
  line-height: 1.2;
  background-color: transparent;
  padding: 0;
  border: none;
  transition: all 0.3s;
}
.header__button-outlet:hover {
  cursor: pointer;
  opacity: 0.7;
}
