.place__button-remove {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  padding: 0;
  border: none;
  background: url(../../../images/place/remove_icon/remove_icon.svg)
    center/cover no-repeat;
  transition: opacity 0.3s;
  display: none;
}

.place__button-remove:hover {
  opacity: 0.6;
  cursor: pointer;
}
