.header__user-email {
  margin: 0;
  margin-right: 24px;
  font-size: 18px;
  line-height: 1.2;
}

@media screen and (max-width: 550px) {
  .header__user-email {
    margin-right: 0;
    font-weight: 500;
    margin-bottom: 18px;
  }
}
