.entry-form__link {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.2;
  opacity: 1;
  transition: all 0.3s;
  margin-top: 15px;
  display: block;
}
.entry-form__link:hover {
  opacity: 0.6;
}
@media screen and (max-width: 450px) {
  .entry-form__link {
    margin-top: 20px;
  }
}
