.profile__profession {
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  grid-area: profession;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .profile__profession {
    font-size: 16px;
  }
}
@media screen and (max-width: 500px) {
  .profile__profession {
    font-size: 14px;
  }
}
